<template>
  <div class="wrapper">
    <v-container
      class="white mx-auto py-2 px-12 d-flex flex-column justify-space-between align-center"
    >
      <h1>Port Forwarding Tutorial Page</h1>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'PortForwarding',
  components: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
}
</style>
